mixin post(event, title, content, start, end, date, clubName)
   div.post
      h2
         if (clubName)
            a(href='/club/' + clubName + '/').underline= clubName
            =  ' / ' 
         = title
      p.date.marginBottom= ((date.getMonth() + 1) < 10 ? '0' : '') + (date.getMonth() + 1) + '/' + (date.getDate() < 10 ? '0' : '') + date.getDate() + '/' + (date.getFullYear()) + ' at ' + (date.getHours() < 10 ? '0' : '') + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes()
      p !{content.replace(/</, '%lt;').replace(/\n/g, '<br>')}
      if (event.hours && event.hours > 0 && event.signedUp)
         br
         p= event.hours + ' hours'
         p= event.signedUp.length + ' / ' + event.maxPeople + ' people signed up'
         if (event.signedUp.length < event.maxPeople)
            form.signup(action='/volunteer/' + clubName + '/' + event._id, method='post')
               button(type='submit') Sign Up
      if (start && end)
         br
         p.date= 'From ' + ((start.getMonth() + 1) < 10 ? '0' : '') + (start.getMonth() + 1) + '/' + (start.getDate() < 10 ? '0' : '') + start.getDate() + '/' + (start.getFullYear()) + ' at ' + (start.getHours() < 10 ? '0' : '') + start.getHours() + ':' + (start.getMinutes() < 10 ? '0' : '') + start.getMinutes() + ' to ' + ((end.getMonth() + 1) < 10 ? '0' : '') + (end.getMonth() + 1) + '/' + (end.getDate() < 10 ? '0' : '') +  end.getDate() + '/' + (end.getFullYear()) + ' at ' + (end.getHours() < 10 ? '0' : '') +  end.getHours() + ':' + (end.getMinutes() < 10 ? '0' : '') + end.getMinutes() 

mixin club(name, desc)
   div.clubListing
      a(href='/club/' + name + '/')
         p
            b= name + ' '
            br
            = desc.length > 140 ? desc.substring(0, 140).trim() + '...' : desc.trim()